@model List<Flights.Models.ViewModels.ReservationVM>

<div class="container">
    <div class="row pb-3 col-12">
        <h3>Rezervacije</h3>
    </div>
    <div class="row pb-3">
        <div class="col-12">
            <table class="table-striped table table-bordered" id="reservations">
                <thead class="table-primary">
                    <tr>
                        <th class="col-2">Let</th>
                        <th class="col-2">Datum leta</th>
                        <th class="col-2">Broj slobodnih mesta</th>
                        <th class="col-2">Broj presedanja</th>
                        <th class="col-2">Putnik</th>
                        <th class="col-2">Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>
