@model Flights.Models.ViewModels.FlightVM
@section scripts {
    <script src="~/js/flights.js"></script>
}
<div class="container">
    <h1>Pregled letova</h1>
    <div class="row pb-3">
        <div class="col-12" id="calendar"></div>
    </div>
</div>

<partial name="_ModalPatrialView" />