<h1>My flights</h1>
<div class="row pb-3">
    <div class="col-12">
        <table class="table-striped table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th class="col-3">Let</th>
                    <th class="col-3">Datum leta</th>
                    <th class="col-3">Broj presedanja</th>
                    <th class="col-3">Status rezervacije</th>
                </tr>
            </thead>
            <tbody id="reservationsVisitor">
            </tbody>
        </table>
    </div>

</div>

